<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="Be-one is a clean HTML5/CSS3 template suitable for Business, Corporate, Taxes, Broker, Ad...">
   <meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Title -->
<title>YKS Koçum</title>

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">


<!-- CSS Here -->
   <!-- MagnificPopup.css -->
   <link rel="stylesheet" href="static/css/magnific-popup.css">
   <!-- SlickNav.css -->
   <link rel="stylesheet" href="static/css/slicknav.min.css">
   <!-- Owl.carousel.css -->
   <link rel="stylesheet" href="static/css/owl.carousel-2.3.4.min.css">
   <!-- Fontawesome.css -->
   <link rel="stylesheet" href="static/css/fontawesome-free-5.12.0.min.css">
   <!-- Bootstrap.css -->
   <link rel="stylesheet" href="static/css/bootstrap-4.3.1.min.css">
   <!-- Default.css -->
   <link rel="stylesheet" href="static/css/default.css">
   <!-- Style.css -->
   <link rel="stylesheet" href="static/css/style.css">
   <!-- Responsive.css -->
   <link rel="stylesheet" href="static/css/responsive.css">

   <!-- ColorNip.css -->
   <link rel="stylesheet" href="static/css/colornip.min.css">
   <link id="theme" rel="stylesheet" href="static/css/theme-colors/theme-default.css">


   <!-- Jquery -->
   <script src="static/js/jquery-3.4.1.min.js"></script>

</head>
<body>
    <!-- Color Nip
    <div class="Switcher">
    <button id="Switcher__control" class="Switcher__control">
        <i class="fas fa-cogs"></i>
    </button>
    <h5 style="margin-bottom: 5px">Change Color</h5>
    <ul id="colors" data-dir="static/css/theme-colors/">
        <li data-scheme="theme-default" data-color="#4272d7" style="background-color:#4272d7"></li>
        <li data-scheme="theme-red" data-color="#fa4251" style="background-color:#fa4251"></li>
        <li data-scheme="theme-green" data-color="#63c76a" style="background-color:#63c76a"></li>
        <li data-scheme="theme-yellow" data-color="#ffe048" style="background-color:#ffe048"></li>
        <li data-scheme="theme-orange" data-color="#f39c12" style="background-color:#f39c12"></li>
    </ul>
    </div>-->
    <!-- End Color Nip -->
    <div class="search-overlay"></div>
    <!-- Search Modal -->
    <div class="modal fade" id="search-modal">
        <div class="modal-dialog">
             <div class="modal-content">
                 <form action="index.html" class="search-popup-wrapper">
                     <input type="search" placeholder="Search here...">
                     <i class="fas fa-search"></i>
                 </form>
             </div>
         </div>
     </div>
     <!-- End Search Modal -->
    <!-- Start Header Area -->
    <div class="header-area">
        <div class="container">
            <div class="header-wrapper">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="site-logo">
							<h2>YKS Koçum</h2>
                            <a data-toggle="tooltip" title="Be-one" href="index.html"></a>
                        </div>
                    </div>
                    <div class="col-6 d-lg-none static text-right">
                        <div class="show-mobile-menu"></div>
                    </div>
                    <div class="col-lg-9 text-right d-none d-lg-block">
                        <nav class="menu-wrapper">
                            <ul class="main-menu" id="mobile-menu">
                                <li class="active"><a href="#">Giriş</a></li>
                                <li><a href="#feature">Hizmetlerimiz</a></li>
                                <li><a href="#portfolio">Koçluk Yaptığımız Öğrenciler</a></li>
                                <li><a href="#page">Neden Biz?</a></li>
                                <li><a href="#formdoldur">Bize Ulaşın</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Area -->
    <!-- Start Slider Area -->
    <div class="slider-area ">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="slider-carousel owl-carousel">
                        <div class="single-slider slider-bg-1 text-center">
                            <div class="slider-inner">
                                <h1>Hoş geldin!</h1>
                                <a class="btn get-started-btn" href="#formdoldur">Bizimle Tanış!</a>
                            </div>
                        </div>
                        <div class="single-slider slider-bg-2 text-center">
                            <div class="slider-inner">
                                <h1>Önceki Senelerin Derece Öğrencilerinden Koçluk Al</h1>
>                                <a class="btn get-started-btn" href="#formdoldur">Bizimle Tanış!</a>
                            </div>
                        </div>
                        <div class="single-slider slider-bg-3 text-center">
                            <div class="slider-inner">
                                <h1>Modern Olmayan Yetersiz Yöntemlerden Kurtul</h1>
                                <a class="btn get-started-btn" href="#formdoldur">Bizimle Tanış!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->
    <!-- Start Hire Us Area -->
    <!-- SILINDI -->
    <!-- End Hire Us Area -->
    <!-- Start Icon Box Area -->
    <div class="icon-box-area pt-70 pb-70" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-icon-box icon-box-img-1">
                        <div class="icon-box-content">
                            <h6 class="iconbox-content-heading"><i class="fas fa-assistive-listening-systems"></i>git show-ref Sınav Psikolojisinden Anlayan Koçlar</h6>
                            <div class="iconbox-content-body">
                                <p>Mauris scelerisque ut ipsum id vulputate. Nulla laoreet, ligula vel congue ultricies, nibh ipsum egestas nunc, id porta nibh nunc non felis. Vestibulum nibh urna, lobortis ut euismod sed, dignissim non neque</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-icon-box icon-box-img-2">
                        <div class="icon-box-content">
                            <h6 class="iconbox-content-heading"><i class="fab fa-gripfire"></i> Motivasyonunuzu Tavan Yapacak Tecrübe</h6>
                            <div class="iconbox-content-body">
                                <p>Mauris scelerisque ut ipsum id vulputate. Nulla laoreet, ligula vel congue ultricies, nibh ipsum egestas nunc, id porta nibh nunc non felis. Vestibulum nibh urna, lobortis ut euismod sed, dignissim non neque</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-icon-box icon-box-img-3">
                        <div class="icon-box-content">
                            <h6 class="iconbox-content-heading"><i class="fas fa-chart-line"></i> Gerçek Çalışma Gerçek Sonuçlar</h6>
                            <div class="iconbox-content-body">
                                <p>Mauris scelerisque ut ipsum id vulputate. Nulla laoreet, ligula vel congue ultricies, nibh ipsum egestas nunc, id porta nibh nunc non felis. Vestibulum nibh urna, lobortis ut euismod sed, dignissim non neque</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Icon Box Area -->
    <!-- Start We are Bemax Area -->
    <div class="bemax-area gray-bg pt-65 pb-25" id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-70">
                    <div class="section-title">
                        <h4>Biz aradığınız YKS koçuyuz</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                           <a href="#"> <i class="fas fa-desktop"></i></a>
                        </div>
                        <div class="item-content">
                            <h6><a href="#">Görüntülü Konuşma İmkanı</a></h6>
                            <p>Vestibulum non diam quis nisl dignissim posuere a vulputate urna nunc velit</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <a href="#"><i class="far fa-gem"></i></a>
                        </div>
                        <div class="item-content">
                            <h6><a href="#">Elmas Değerinde Tavsiyeler</a></h6>
                            <p>Vestibulum non diam quis nisl dignissim posuere a vulputate urna nunc velit</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <a href="#"><i class="far fa-lightbulb"></i></a>
                        </div>
                        <div class="item-content">
                            <h6><a href="#">Fırsatları Önünüze Sunacak Çalışma</a></h6>
                            <p>Vestibulum non diam quis nisl dignissim posuere a vulputate urna nunc velit</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <a href="#"><i class="fas fa-tablet-alt"></i></a>
                        </div>
                        <div class="item-content">
                            <h6><a href="#">Gerektiğinde Kolay Ulaşım</a></h6>
                            <p>Vestibulum non diam quis nisl dignissim posuere a vulputate urna nunc velit</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                        <div class="item-content">
                            <h6><a href="#">Modern Tarz</a></h6>
                            <p>Vestibulum non diam quis nisl dignissim posuere a vulputate urna nunc velit</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-bemax-item d-flex">
                        <div class="item-icon">
                            <a href="#"><i class="fas fa-comments"></i></a>
                        </div>
                        <div class="item-content">
                            <h6><a href="#">Kuvvetli İletişim</a></h6>
                            <p>Vestibulum non diam quis nisl dignissim posuere a vulputate urna nunc velit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End We are Bemax Area -->
    <!-- Start Latest Project Area -->
    <div class="latest-project-area black-bg pt-70 pb-70" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-70">
                    <div class="section-title">
                        <h4>Birlikte Çalıştığımız Öğrenciler</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="project-carousel owl-carousel text-center">
                        <div class="single-project project-bg-1">
                            <div class="project-inner">
                                <h5>Öğrenci Adı Soyadı</h5>
                                <p> Öğrenci Yorumu </p>
                            </div>
                        </div>
                        <div class="single-project project-bg-2">
                            <div class="project-inner">
                                <h5>Öğrenci Adı Soyadı</h5>
                                <p> Öğrenci Yorumu </p>
                            </div>
                        </div>
                        <div class="single-project project-bg-3">
                            <div class="project-inner">
                                <h5>Öğrenci Adı Soyadı</h5>
                                <p> Öğrenci Yorumu </p>
                            </div>
                        </div>
                        <div class="single-project project-bg-4">
                            <div class="project-inner">
                                <h5>Öğrenci Adı Soyadı</h5>
                                <p> Öğrenci Yorumu </p>
                            </div>
                        </div>
                        <div class="single-project project-bg-5">
                            <div class="project-inner">
                                <h5>Öğrenci Adı Soyadı</h5>
                                <p> Öğrenci Yorumu </p>
                            </div>
                        </div>
                        <div class="single-project project-bg-6">
                            <div class="project-inner">
                                <h5>Öğrenci Adı Soyadı</h5>
                                <p> Öğrenci Yorumu </p>
                            </div>
                        </div>
                        <div class="single-project project-bg-7">
                            <div class="project-inner">
                                <h5>Öğrenci Adı Soyadı</h5>
                                <p> Öğrenci Yorumu </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Latest Project Area -->
    <!-- Start Why Choose Us Area -->
    <div class="choose-us-area pt-70 pb-70" id="page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-70">
                    <div class="section-title">
                        <h4>Neden Bizden Koçluk Almalısınız?</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-choose-item">
                        <h6><a href="#"><i class="fas fa-user-graduate"></i>Çünkü Bizler de Sizlerin Yerindeydik</a></h6>
                        <p>Morbi vehicula a nibh in commodo. Aliquam quis dolor eget lectus pulvinar malesuada. Suspendisse eu rhoncus ligula.</p>
                    </div>
                    <div class="single-choose-item">
                        <h6><a href="#"><i class="fas fa-globe"></i>Çünkü Modernlikten Uzak Yöntemlere Karşıyız</a></h6>
                        <p>Nam orci metus, varius at nisl at, tempor facilisis magna. Ut maximus felis et tincidunt lacinia. Nulla malesuada ipsum at magna condimentum pharetra.</p>
                    </div>
                    <div class="single-choose-item">
                        <h6><a href="#"><i class="fas fa-map"></i>Çünkü YKS Bir Strateji Sınavıdır</a></h6>
                        <p>Fusce viverra risus diam, in luctus nulla porta vel. Etiam nunc lorem, dapibus id augue vitae, lacinia pharetra eros. Fusce ac egestas purus, non porta est.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us Area -->
    <!-- Start Working With Us Area -->
    <div class="working-with-us-area gray-bg" id="formdoldur">
        <div class="container"> 
            <div class="row">
                <div class="col-md-6 col-12 text-center d-flex align-items-center">
                    <div class="hire-us-content">
                        <div class="section-title">
                            <h4>Sizin Koçunuz Olalım</h4>
                        </div>

                        {% with messages = get_flashed_messages() %}
                           {% if messages %}
                              {% for message in messages %}
                                <h5>{{ message }}</h5>
                                <h5 class="section-title">En son kayıt olanlar</h5>
                                {% for dct in last_list %}
                                    <p>{{dct.ad}} {{dct.soyad}}</p>
                                {% endfor %}
                              {% endfor %}
                           {% else %}
                                <p>Bu güne kadar <span>10</span>'dan fazla öğrencinin hayalindeki sıralamayı elde etmesi için emek verdik. Peki sizin için ne yapabiliriz?</p>
                                <p>Aşağıdaki formu doldurarak bize iletebilirsiniz. Size yardımcı olmak için en kısa zamanda dönüş yapacağız.</p>


                        <form action="" method="post">
                            <div class="form-group">
                                <input type="text" id="ad" name="ad" placeholder="Adınız"><br>
                            </div>
                            <div class="form-group">
                                <input type="text" id="soyad" name="soyad" placeholder="Soyadınız"><br>
                            </div>
                            <div class="form-group">
                                <input type="email" id="email" name="email" placeholder="Email (abc@xyc.com)"><br>
                            </div>
                            <div class="form-group">
                                <input type="number" id="sinif" name="sinif" placeholder="Sınıfınız (9,10,11,12)"><br>
                            </div>
                            <div class="form-group">
                                <input type="text" id="refkod" name="refkod" placeholder="Referans kodunuz"><br>
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" class="form-control form-control-lg" placeholder="Bize iletmek istedikleriniz, eğer seçtiyseniz seçtiğiniz koçun ismine de yazınız." rows="5"></textarea><br>
                                <input type="submit" value="Gönder" class="btn hire-us-btn">
                            </div>
                        </form>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <div class="hire-us-img">
                        <img src="static/img/hire_us.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Working With Us Area -->
    <!-- Start Carousel Area -->
    <!-- Silindi -->
    <!-- End Carousel Area -->
    <!-- Start Brands Area -->
    <!-- Silindi -->
    <!-- End Brands Area -->
    <!-- Start Footer Area -->
    <footer class="footer-area pt-60 pb-60 black-bg" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html">YKS Koçum</a>
                        </div>
                        <div class="footer-dec">
                            <p>YKS Koçum öğrenciye sınava hazırlık sürecinde verilen desteğin yetersizliğini ve zamana uygunsuzluğunu gören, o yollardan geçen öğrencilerin sağladığı bir koçluk hizmetidir.</p>
                        </div>
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h6>Bilgi</h6>
                        </div>
                        <ul class="footer-menu">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#aboutus">Hikayemiz</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h6>İletişim</h6>
                        </div>
                        <div class="address-line">
                            <p>İnstagram: @YKSKoçum</p>
                            <p>Phone: <a href="tel:+112345 6999">+(112) 345 6999</a></p>
                            <p>Email: <a href="contact_ykskocum@gmail.com">contact_ykskocum@gmail.com</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
    <!-- End Copyright Area -->
    <div class="copyright-area black-bg">
        <div class="container">
            <div class="row ">
                <div class="col-12 text-center">
                    <div class="copyright-area ">
                        <!-- <p>Copyright © 2021 Designed by <a href="https://www.wpfreecloud.com">wpfreecloud.com</a>. All rights reserved.</p> -->
                        <p>Copyright © 2021 Designed by YKSkocum.com. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Area -->
<!-- JS -->
   <!-- Popper.js -->
   <script src="static/js/popper.min.js"></script>
   <!-- Bootstrap.js -->
   <script src="static/js/bootstrap-4.3.1.min.js"></script>
   <!-- Modernizr.js -->
   <script src="static/js/vendor/modernizr-3.5.0.min.js"></script>
   <!-- Owl.Carousel.js -->
   <script src="static/js/vendor/owl.carousel-2.3.4.min.js"></script>
   <script src="static/js/vendor/owl.carousel2.thumbs.min.js"></script>
   <!-- Waypoints.js -->
   <script src="static/js/vendor/waypoints-4.0.1.min.js"></script>
   <!-- ColorNip.js -->
   <script src="static/js/vendor/colornip.min.js"></script>
   <!-- SlickNav.js -->
   <script src="static/js/vendor/slicknav.min.js"></script>
   <!-- ScrollUp.js -->
   <script src="static/js/vendor/jquery.scrollUp.min.js"></script>
   <!-- MagnificPopup.js -->
   <script src="static/js/vendor/magnific-popup.min.js"></script>

   <!-- Main.js -->
   <script src="static/js/main.js"></script>
</body>
</html>
